/* Header Styles */
.page__header {
    background: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    transform: translateY(0);
    transition: all .5s ease;
    z-index: 5;
}

.page__header.hide {
    transform: translateY(-100%);
}

/* Header Styles */

/* Navigation Styles*/
.navbar__menu ul {
    padding-left: 0;
    margin: 0;
    text-align: right;
}

.navbar__menu li {
    display: inline-block;
}

.navbar__menu .menu__link {
    display: block;
    padding: 1em;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.navbar__menu .menu__link.active {
    background: #333;
    color: #fff;
    transition: ease 0.3s all;
}


@media (hover: hover) {
    .navbar__menu .menu__link:hover {
        background: #333;
        color: #fff;
        transition: ease 0.3s all;
    }
}


@media screen and (max-width: 768px) {
    
    nav.navbar__menu {
        height: 0;
        overflow: hidden;
        transition: height .5s ease;
    }

    nav.navbar__menu.active {
        height: var(--list-height);    
    }

    .navbar__menu li {
        display: block;
    }
}


@media screen and (min-width: 769px) {    
    .navbar__menu {
        display: block;
    }
}

/* Navigation Styles*/


/*hamburger menu button*/
@media screen and (max-width: 768px) {
    
    .mobile-menu-btn {
        display: block;
        width: 30px;
        height: 22px;
        margin-left: auto;
        margin-right: 0;
        padding: 10px;
        box-sizing: content-box;
        background: transparent;
        border: none;
    }

    .mobile-menu-btn i {
        background-color: #333;
        display: block;
        width: 100%;
        height: 3px;
    }

    .mobile-menu-btn i:nth-child(1) {
        -webkit-animation: disT 0.8s backwards;
        animation: disT 0.8s backwards;
        -webkit-animation-direction: reverse;
        animation-direction: reverse;
    }

    .mobile-menu-btn i:nth-child(2) {
        margin: 5px 0;
        -webkit-animation: disM 0.8s backwards;
        animation: disM 0.8s backwards;
        -webkit-animation-direction: reverse;
        animation-direction: reverse;
    }

    .mobile-menu-btn i:nth-child(3) {
        -webkit-animation: disB 0.8s backwards;
        animation: disB 0.8s backwards;
        -webkit-animation-direction: reverse;
        animation-direction: reverse;
    }

    .mobile-menu-btn.active i:nth-child(1) {
        -webkit-animation: actT 0.8s forwards;
        animation: actT 0.8s forwards;
    }

    .mobile-menu-btn.active i:nth-child(2) {
        -webkit-animation: actM 0.8s forwards;
        animation: actM 0.8s forwards;
    }

    .mobile-menu-btn.active i:nth-child(3) {
        -webkit-animation: actB 0.8s forwards;
        animation: actB 0.8s forwards;
    }

}


@media screen and (min-width: 769px) {    
    .mobile-menu-btn {
        display: none;
    }
}

@-webkit-keyframes actT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }

    50% {
        -webkit-transform: translateY(8px) rotate(0deg);
    }

    100% {
        -webkit-transform: translateY(8px) rotate(137deg);
    }
}

@keyframes actT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(8px) rotate(0deg);
    }

    100% {
        transform: translateY(8px) rotate(137deg);
    }
}

@-webkit-keyframes disT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }

    50% {
        -webkit-transform: translateY(8px) rotate(0deg);
    }

    100% {
        -webkit-transform: translateY(8px) rotate(137deg);
    }
}

@keyframes disT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(8px) rotate(0deg);
    }

    100% {
        transform: translateY(8px) rotate(137deg);
    }
}


@-webkit-keyframes actM {
    50% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(43deg);
    }
}

@keyframes actM {
    50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(43deg);
    }
}

@-webkit-keyframes disM {
    50% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(43deg);
    }
}

@keyframes disM {
    50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(43deg);
    }
}


@-webkit-keyframes actB {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }

    50% {
        -webkit-transform: translateY(-8px) rotate(0deg);
    }

    100% {
        -webkit-transform: translateY(-8px) rotate(137deg);
    }
}

@keyframes actB {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(-8px) rotate(0deg);
    }

    100% {
        transform: translateY(-8px) rotate(137deg);
    }
}

@-webkit-keyframes disB {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }

    50% {
        -webkit-transform: translateY(-8px) rotate(0deg);
    }

    100% {
        -webkit-transform: translateY(-8px) rotate(137deg);
    }
}

@keyframes disB {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(-8px) rotate(0deg);
    }

    100% {
        transform: translateY(-8px) rotate(137deg);
    }
}

/*hamburger menu button*/